/* style.css */

/* Fonts and colors */

body{
  background: rgb(245,245,245);
  color: grey;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Roboto', sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  color: pink;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}



/* Custom Design */

#banner {
background-image: url(images/wp3784084.jpg);
border-radius: 25px;
box-shadow: 2px 3px 6px grey ;
width: 99%;
margin: auto;
padding: 150px 0;
text-align: center;
color: white



}

#banner h1 {
  color: white;
  font-weight: bold;
}

#banner p {
  color: white;
  font-size: 30 px;
  font-weight: lighter;
  
}

.card{
  padding: 50px;
  text-align: center;

}

#footer {
  background-color: #313330;
  color: white;
  
width: 100%;

margin: auto;
text-align: center;
box-shadow: 2px 3px 6px grey ;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
  
}
#footer a:hover {
  color: white;
}
